<html>


<body>


<!-- reference : https://www.ctl.io/developers/blog/post/build-user-authentication-with-node-js-express-passport-and-mongodb
...not working yet -->

<div>

    <form id="login" class="collapse" action="/login" method="post">
        <div>
            <p></p>
            <label>Username:</label>
            <input type="text" class="form-control" name="username"/>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" class="form-control" name="password"/>
        </div>
        <div>
            <input type="submit" class="btn btn-primary btn-sm" value="Log In"/>
        </div>
    </form>

</div>



<div id="local" class="collapse">
    <a href="login">I already have an account</a>
    <a href="signup">I need to make an account</a>
</div>




</body>
</html>




</body>
</html>