<html>

<head>
    <script>
        document.addEventListener("DOMContentLoaded", main);
        function main() {
            var f = document.getElementById('loginBtn');
            f.addEventListener('click', function (evt) {
                if( (document.getElementsByName('username')[0].value == "")
                ||(document.getElementsByName('password')[0].value == "") ) {
                    evt.preventDefault();
                    var err = document.createTextNode("Please enter username and password");
                    var span = document.createElement("span");
                    span.style.color = "red";
                    span.appendChild(err);
                    document.getElementById('log').appendChild(span);
                }

            });
        }
    </script>


</head>



<body>


<!-- reference : https://www.ctl.io/developers/blog/post/build-user-authentication-with-node-js-express-passport-and-mongodb
...not working yet -->

<div id = "log">

    <form class="collapse" action="/login" method="post">
        <div>
            <p></p>
            <label>Username:</label>
            <input type="text" class="form-control" name="username"/>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" class="form-control" name="password"/>
        </div>
        <div>
            <input type="submit" id="loginBtn" class="btn btn-primary btn-sm" value="Log In"/>
        </div>
    </form>

</div>


</br>
<div id="local" class="collapse">
    <a href="login">I already have an account</a>
    <a href="signup">I need to make an account</a>
</div>




</body>
</html>




</body>
</html>