<html>

<body>


<!-- reference : https://www.ctl.io/developers/blog/post/build-user-authentication-with-node-js-express-passport-and-mongodb
...not working yet -->


<div>

<form id="signup" class="collapse" action="/signup" method="post">
    <div>
        <p></p>
        <label>New Username:</label>
        <input type="text" class="form-control" name="username"/>
    </div>
    <div>
        <label>New Password:</label>
        <input type="password" class="form-control" name="password"/>
    </div>
    <div>
        <input type="submit" class="btn btn-primary btn-sm" value="Register"/>
    </div>
</form>

</div>

<div id="local" class="collapse">
    <a href="login">I already have an account</a>
    <a href="signup">I need to make an account</a>
</div>




</body>
</html>




</body>
</html>