<html>
<!--use bootstrap here --> 
<h2>Daydreamer's Book</h2>

<body>

<p style="color:red">{{err}}</p></br>


<form method="POST" action="">
    Tab: <input type="text" name="tabName">
    <input type="submit" name = 'add' value="Add ">
</form>
</br></br></br>


<form method="POST" action="">
{{#each tabs}}
    </div class='tab'>
    <input type="checkbox" name="check" value={{_id}}>
    <a href=""> <h1>{{name}}</h1></a>
    </div>
{{/each}}

    </br>
    <input type="submit" name= 'del' value="Delete">
</form>





</body>
</html>
